.side_bar {
    // background-color: rgb(245, 245, 206);
    width: 30%;
    height: 100vh;
    text-align: center;
    margin-top: 100px;
    
}


.banner_index {
    padding: 30px 480px;
    h1{
        font-size: 48px;
        text-align: center;
    }
}

.main {
    width: 88%;
    padding: 30px;
    margin:0  300px;
}

// .sticky {
//     // position: fixed;
//     padding: 100px;
// }


.card {
    margin: 20px;
    
}
