.side_bar {
    // background-color: rgb(245, 245, 206);
    width: 20%;
    height: 100vh;
    text-align: center;
    
}

.banner_index {
    padding: 30px 480px;
    // background-color: bisque;
}

.main {
    width: 88%;
    padding: 30px;
    margin:0  300px;
}

.sticky {
    position: sticky;
    position: fixed;
    padding: 100px;
}

.body {
    // background-color: rgb(144, 175, 243);
}

.card {
    margin: 20px;
    
}
