    <nav style="background-color:rgb(250, 44, 33);" class="navbar navbar-expand-lg navbar-light bg-blue">
        <div class="container-fluid">
        <a class="navbar-brand" href="#">Event Management App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div  class="collapse navbar-collapse" id="navbarNav">
            <ul  class="navbar-nav">
            <li class="nav-item">
                <a style="color:rgb(3, 15, 61);"class="nav-link active" aria-current="page" href="/users/">Home</a>
            </li>
            <li class="nav-item">
                <a style="color:rgb(6, 10, 66);" class="nav-link active" aria-current="page" href="/event/new">Add Events</a>
            </li>
            <li class="nav-item">
                <a style="color:rgb(4, 3, 73);" class="nav-link active" aria-current="page" href="/event/index">Show Events</a>
            </li>
            <li class="nav-item">
                <a style="color:rgb(11, 6, 71);" class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            </ul>
        </div>
        </div>
    </nav>