<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://kit.fontawesome.com/cec8cacc51.js" crossorigin="anonymous"></script>    <title>Document</title>
</head>
<body>
    <header>
        <h1>
            All Events 
        </h1>
        <div class="flex justify-btw">
            <strong>all Events: <%= events.length %> </strong>
            <div class="hide">
                <button> Hide Side bar </button>
            </div>
        </div>
    </header>

    <div class="flex width">

    <div class="wi-40 border">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem quas officia odio commodi facere tenetur eligendi reiciendis mollitia iure voluptatem quo enim assumenda molestias voluptatibus, id ea iste delectus nemo!</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit iusto nesciunt, voluptas eos, itaque impedit rerum distinctio obcaecati provident consequatur error natus nam quod tempore dolore id incidunt aut in!</p>
    </div>

    <div class="wi-60 border  container">  
        <div class="allEvents">
            <% events.forEach((event)=>{ %>
                <% if( events.length === 0 ){ %>
                    <div> no data is there </div>
                <% } else { %>
                <img src="/images/upcoming-event-neon-sign-text-vector_118419-486.jpeg" alt="">
                <h3>
                <a href="/event/<%= event.id %>/detail"><%= event.title %></a>
                </h3>
            <% }}) %>
        </div>
    </div>
    </div>

<script src="/javascripts/dom.js"></script>
</body>
</html>