<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Add Event Here </h1>
    <form action="/event/new" method="POST" enctype="multipart/form-data" >
        <label for="fname">Name of the Event:</label><br>
        <input type="text" id="fname" name="title" placeholder="Name of the Event" required><br>
        <label for="lname">Summary of Event:</label><br>
        <input type="text" id="lname" name="summary" placeholder="Enter Summary"><br>
        <label for="lname">host of the Event:</label><br>
        <input type="text" id="lname" name="host" placeholder="Enter Host name"><br>
        <label for="lname">When Event Going to be start:</label><br>
        <input type="date" id="lname" name="start_date" placeholder="Enter Date "><br>
        <label for="lname">When Event Going to be start:</label><br>
        <input type="date" id="lname" name="end_date" placeholder="Enter end date"><br>
        <label for="lname">Select Cateygory of Event:</label><br>
        <input type="text" id="lname" name="event_category" placeholder="Enter Date "><br>
        <label for="lname"></label>Location of Event:</label><br>
        <input type="text" id="lname" name="location" placeholder="Enter Date "><br>  
        <label for="lname"></label>upload image:</label><br>
        <input type="file" name="cover_image" placeholder="Add profile">
        <button type="submit">Add Event</button>
    </form>
</body>
</html>
